<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>919664702801-pnpukevtofbnlk2q772bu89dls8d3plj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919664702801-pnpukevtofbnlk2q772bu89dls8d3plj</string>
	<key>API_KEY</key>
	<string>AIzaSyD-CqYl8dxN9fsRO1MDCfQxdExZhxlkeUc</string>
	<key>GCM_SENDER_ID</key>
	<string>919664702801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.apps.89468</string>
	<key>PROJECT_ID</key>
	<string>seext-89468</string>
	<key>STORAGE_BUCKET</key>
	<string>seext-89468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919664702801:ios:674d7309e41cce90</string>
	<key>DATABASE_URL</key>
	<string>https://seext-89468.firebaseio.com</string>
</dict>
</plist>